@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Ecommerce2.Models.KhachHang>

@{
    ViewData["Title"] = "Index";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách khách hàng</span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
            </div>
            @* <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-controller="AdminKhachHang" asp-action="Create">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Thêm khách hàng</span>
                </a>
            </div> *@
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>Mã khách hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Điện thoại</th>
                        <th>Hiệu lực</th>
                        <th>Các thao tác khác</th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.MaKh</td>
                                <td>@item.HoTen</td>
                                <td>@item.DienThoai</td>
                                <td>
                                    @if (@item.HieuLuc == true)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Còn hiệu lực</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-danger badge-dot m-r-10"></div>
                                            <div>Khóa</div>
                                        </div>
                                    }
                                </td>
                                <td>
                                    <a class="anticon anticon-bars" asp-area="Admin" asp-controller="AdminKhachHang" asp-action="Details" asp-route-id="@item.MaKh"></a>
                                    <a style="margin: 0 5px" class="anticon anticon-edit" asp-area="Admin" asp-controller="AdminKhachHang" asp-action="Edit" asp-route-id="@item.MaKh"></a>
                                    <a class="anticon anticon-delete" asp-area="Admin" asp-controller="AdminKhachHang" asp-action="Delete" asp-route-id="@item.MaKh"></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
                             new PagedListRenderOptions()
                    {
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" }
                    })
                </ul>
            </div>
        </div>
    </div>
</div>