@model Ecommerce2.Models.Hang

@{
    ViewData["Title"] = "Delete";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminHang" asp-action="Index">Quản lý danh sách hãng</a>
            <span class="breadcrumb-item active">Xóa hãng</span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin hãng: @Model.TenHang</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>Mã hãng:</td>
                        <td class="text-dark font-weight-semibold">@Model.MaHang</td>
                    </tr>
                    <tr>
                        <td>Tên hãng:</td>
                        <td>@Model.TenHang</td>
                    </tr>
                    <tr>
                        <td>Mô tả:</td>
                        <td>@Model.MoTa</td>
                    </tr>
                    <tr>
                        <td>Tên hãng Alias:</td>
                        <td>@Model.TenHangAlias</td>
                    </tr>
                    <tr>
                        <td>Ảnh đại diện:</td>
                        <td>
                            <img width="100" height="100" src="~/Images/Hang/@Model.Hinh" alt="@Model.TenHang" />
                        </td>
                    </tr>
                    <tr>
                        <td>Xác nhận xóa:</td>
                        <td>
                            <form asp-controller="AdminHang" asp-action="Delete" asp-route-id="@Model.MaHang">
                                <input type="hidden" asp-for="MaHang" />
                                <input type="submit" value="Xác nhận xóa" class="btn btn-danger m-r-5" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-success btn-tone m-r-5" asp-action="Index">Quay lại danh sách</a>
</div>