@model List<SanPham>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.MaSp</td>
            <td>
                <div class="d-flex align-items-center">
                    <img class="img-fluid rounded" src="~/Images/SanPham/@item.Hinh" style="max-width: 60px" alt="">
                    <h6 class="m-b-0 m-l-10">@item.TenSp</h6>
                </div>
            </td>
            <td>@item.GiaBan.Value.ToString("#,##0")vnđ</td>
            <td>@item.SoLuong</td>
            <td>
                @if (item.SoLuong <= 0)
                {
                    <div class="d-flex align-items-center">
                        <div class="badge badge-danger badge-dot m-r-10"></div>
                        <div>Hết hàng</div>
                    </div>
                }
                else
                {
                    <div class="d-flex align-items-center">
                        <div class="badge badge-success badge-dot m-r-10"></div>
                        <div>Còn hàng</div>
                    </div>
                }
            </td>
            <td>
                <a class="anticon anticon-bars" asp-area="Admin" asp-controller="AdminSanPham" asp-action="Details" asp-route-id="@item.MaSp"></a>
                <a style="margin: 0 5px" class="anticon anticon-edit" asp-area="Admin" asp-controller="AdminSanPham" asp-action="Edit" asp-route-id="@item.MaSp"></a>
                <a class="anticon anticon-delete" asp-area="Admin" asp-controller="AdminSanPham" asp-action="Delete" asp-route-id="@item.MaSp"></a>
            </td>
        </tr>
    }
}